@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.banner {
  background-image: linear-gradient(
    to right,
    rgba(252, 214, 255),
    rgba(41, 216, 255),
    rgba(255, 253, 128),
    rgba(248, 154, 191),
    rgba(252, 214, 255)
  );
}

@layer utilities {
  .section-container {
    @apply max-w-5xl mx-auto px-4;
  }

  .section-heading {
    @apply text-white text-center text-5xl sm:text-6xl font-bold tracking-tighter;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-white;
    border-radius: 50px;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .radial-gradient-bg {
    @apply bg-[radial-gradient(closest-side,#000_86%,#9560EB)] 
      md:bg-[radial-gradient(closest-side,#000_92%,#9560EB)] 
      lg:bg-[radial-gradient(closest-side,#000_96%,#9560EB)];
  }
}
